/* CSS Document */
#header
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.h1
{
height:250px;
width:1000px;
}
.logo
{
height:250px;
width:300px;
float:left;
}
.name
{
height:250px;
width:700px;
float:right;
background-color:palegreen;
}
.n
{
font-family:Arial, Helvetica, sans-serif;
font-size:36px;
color:#FF0000;
position:relative;
top:100px;
left:200px;
}
.menu
{
height:50px;
width:1000px;
background-color:#00FFFF;
float:left;
}
.menu ul li
{
display:inline;
padding:40px;
}
.menu ul li a
{
text-decoration:none;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#CC00FF;
}
.copy
{
font-size:24px;
font-family:Arial;
color:#6633FF;
text-align:center;
}
.home
{
height:550px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.heading
{
height:100px;
width:1000px;
float:left;
background-color:#CCFFCC;
text-transform:capitalize;
text-decoration:underline;
text-align:center;
}
.content
{
height:250px;
width:1000px;
float:left;
background-color:#9966FF;
font-family:Verdana;
font-size:24px;
color:#FFFFFF;
text-align:justify;
}
.im1
{
float:left;
}
.im2
{
float:right;
}
.about
{
height:1900px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.img3
{
height:350px;
width:1000px;
}
.i1
{
height:350px;
width:250px;
float:left;
}
.i2
{
height:350px;
width:250px;
float:left;
}
.i3
{
height:350px;
width:250px;
float:right;
}
.i4
{
height:350px;
width:250px;
}
.img4
{
height:350px;
width:250px;
float:left;
}
.i6
{
height:350px;
width:250px;
float:left;
}
.i7
{
height:350px;
width:250px;
}
.i8
{
height:350px;
width:250px;
float:right;
}
#service
{
height:800px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
#contact
{
height:500px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.ad
{
height:250px;
width:1000px;
float:left;
text-align:center;
background-color:#CC00CC;
color:#FFFFFF;
}
.map
{
float:left;
}